* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Happy-Monkey', sans-serif;
    text-align: center;  
}

body{    
    background-image: url("../img/2a2b6dd7efe2a8874699abf24a7d6dac.jpg");
    background-position: top;
    background-size:cover;
    background-attachment: fixed;
    
}

button i {
    pointer-events: none;
}
button:active {
    cursor: pointer;
    transform: scale(1.05);
}
header {
    background-color: rgba(140, 175, 175, 0.6);
    padding-bottom: .5em;
    max-width: 40rem;
    margin: auto;
    margin-bottom: 1em;
    
}
header h1 {
    font-family: 'Happy Monkey', sans-serif;
    padding-top: .5em;
}

.top-menu {
    font-family: 'Happy-Monkey', sans-serif;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    margin-bottom: .4em;
}
#card-container {
    background-color: transparent;
    margin: auto;
    border: none;
    font-size: 1em;
    padding: 1em;
    
}

#tutorial-texto {
    background-color: rgb(240, 248, 255);
    color: black;
    font-size: 2em;
}

#card {
    background-color: rgb(140, 175, 175, .8 );
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
}

.card, 
.card-combate {
    background-color: rgb(140, 175, 175, .8 );
    margin: 1em;
    padding: 1em;
    max-width: 40rem;
    margin: auto;
}

.card-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    margin-bottom: .4em;    
}
.card-title {    
    min-width: 60%   
}
.card-header button,
.card-header-open button {
    background-color: transparent;
    border: none;
    font-size: 1em;
}
.card-skill {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.card-skill-points {
    font-size: 1.5em;
}
.card-skill-combate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card-skill h4 {
    font-size: .6em;
}
.card-skill button {
    width: 5em;
    border: none;
}
.card-skill h3 {
    font-size:  3em;
    background-color: rgba(183, 240, 240, 0.2);
    max-width: 1.3em;
    margin: auto;
}
.card-skill-combate h4 {
    font-size: .6em;
}
.card-skill-combate button {
    width: 5em;
    border: none;
}
.card-skill-combate h3 {
    font-size:  3em;
    background-color: rgba(183, 240, 240, 0.2);
    max-width: 1.3em;
    margin: auto;
}
.card-skill h3 {
    font-size:  5em;
    background-color: rgba(183, 240, 240, 0.2);
    max-width: 1.3em;
    margin: auto;
}
.user-skill h4 {    
    font-size: 5em;
    font-weight: bolder;
}
.title-card-open {
    display: inline-flex;
    padding: 1em 5.5em;
    background-color: rgb(5, 60, 212, 0.6);
}
.save-id {    
    text-align: center;
    align-content: center;
    padding: .2em  .5em;
    background-color: rgba(5, 2, 0, 0.4);
    margin: auto;
}

#combate-interaction{
    max-width: 40em;
    margin-bottom: 5em;
    background-color: rgb(223, 217, 217);
    margin: auto;
    margin-bottom: .8em;
} 
#combate-interaction h2 {
    min-height: 2em;
    margin-top: .5em;
    padding-top: 1em;
    background-color: rgb(223, 217, 217);
    height: 2em;
    font-weight: bold;
    font-size: 1.5em;
}
#combate-interaction h3 {

    padding: .8em;
    background-color: rgb(255, 0, 0);
    
    min-height: 2.5em;
  
}

#combate-interaction p {
    margin-top: .5em;
    background-color: rgb(223, 217, 217);
    height: 2em;
    font-weight: bold;
    font-size: 1.2em;
    
    
}

#combate-interaction button {
    padding: .5em;
    border-radius: .5em;
    border: none;
    background-color: rgb(202, 15, 15);
    color: rgb(93, 131, 255);
    font-weight: bold;
    font-size: 2em;
    margin-bottom: .2em;
}

.combate-text{
    margin: 5rem;
}
.btn-atack1,
.btn-atack2 {
    margin: .5rem;
}


.btn-atack {
    font-size: 1rem;
}

.progress-bar {  
    height: 5em;
    width: 100%;
    margin-bottom: .5em;
    font-size: 1em;
    color: brown;
}

.card p {
    margin: .5rem;
}

.card-combate{
    margin-bottom: .5rem;
}

.hide {
    display: none;
}
